@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --twilight:#E3D1DD;
    --sapphire: #3142A0;
    --rum : #7E5F86;
    --apricot:#EC7C74;
    --box-shadow : .5rem .5rem 0 rbga(22, 160, 133, .2);
    --text-shadow : .4rem .4rem 0 rbga(0, 0, 0, .2);
    --border : .3rem solid var(--twilight);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;

}

.btn{
    padding: 10px 19px;
    padding-left: 1rem;
    border: 2px solid var(--twilight);
    border-radius: .5rem;
    box-shadow:var(--twilight);
    color: var(--rum);
    cursor: pointer;
    font-size: 1.7rem;
    display: inline;
}

.btn:hover{
    background: var(--twilight);
    color: #020000;
}

.header{
    padding:2rem 9%;
    position: fixed;
    top: 0; left:0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.header .logo{
    font-size: 2.5rem;
    color: black;
}

.header .logo i{
    color: var(--sapphire);
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--sapphire);
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: var(--apricot);
}

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #070000;
    color: var(--twilight);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 10rem;
}

.home .image{
    flex: 1 1 45rem; 
}

.home .image img{
    width: 100%;
}

.home .content{
    flex: 1 1 45rem; 
}

.home .content h1{
    font-size: 6rem;
    color: var(--sapphire);
    line-height: 1.8;
    text-shadow: var(--text-shawdow);
}

.home .content p{
    font-size: 1.1rem;
    color: var(--apricot);
    line-height: 1.8;
    padding: 1rem 0;
}

.home .btn span{
    padding: 2rem 1rem;
    border-radius: .5rem;
    background: var(--apricot);
    color: var(--twilight);
    margin-left: .5rem;}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--sapphire);
    text-transform: uppercase;
    color: var(--apricot);
    font-size: 6rem;
    letter-spacing: .4rem;
}

.heading span{
    text-transform: uppercase;
    color: var(--sapphire);
}

 .tips .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1rem;
    
}

.tips .box-container .box{
    background: white;
    border-radius: .1rem;
    box-shadow: var(--box-shadow);
    border: 2px solid var(--rum);
    padding: 2rem;
}

.tips .box-container .box img{
    height: 20rem;
    border: var(--border);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
}
  
.box {
    width: 250px; /* Set width of each box */
    background: #ffffff;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}
  
  /* Style for box images */
.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px; 
}
  
  /* Style for box headings */
.box h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--apricot)

}
  
  /* Style for box paragraphs */
.box p {
    font-size: 10px;
    color: var(--sapphire); /* Text color */
    margin-bottom: 20px;
}
  
  /* Style for the learn more button */
.box .btn {
    padding: 10px 19px;
    padding-left: 1rem;
    border: 2px solid var(--twilight);
    border-radius: .5rem;
    box-shadow:var(--twilight);
    color: var(--rum);
    cursor: pointer;
    font-size: 1.7rem;
    display: inline;
}
  
.box .btn span{
        padding: 2rem 1rem;
        border-radius: .5rem;
        color: var(--rum);
        margin-left: 2rem;
}
  

.box .btn:hover {
    background: var(--twilight);
    color: #020000;
}
  

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 45rem;
}

.about .row .content h3{
    color: var(--sapphire);
    text-align: var(--text-shawdow);
    font-size: 3rem;
    line-height: 1.8;
}

.about .row .content p{
    color: var(--apricot);
    padding: 1rem 0;
    font-size: 1.2rem;
    line-height: 1.8;
}

.team .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
}

.team .box-container .box{
    text-align: center;
    background: #fff;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 1rem 1rem;
}

.team .box-container .box img{
    height: 20rem;
    border: var(--border);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.team .box-container .box h3{
    color: var(--rum);
    font-size: 2.5rem;
}

.team .box-container .box span{
    color: var(--apricot);
    font-size: 1.5rem;
}

.team .box-container .box .share{
    padding-top: 2rem;
}

.team .box-container .box .share a{
    height: 2rem;
    width: 2rem;
    line-height: 4rem;
    font-size: 2rem;
    color: var(--rum);
    border-radius: .5rem;
    margin: .3rem;
}
.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact .row .image{
    flex: 1 1 45rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form{
    flex: 1 1 45rem;
    background: #fff ;
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}

.contact .row form h3{
    color: var(--rum);
    padding-bottom: 1rem;
    font-size: 3rem;
}

.contact .row form .box{
    width: 100%;
    margin: .7rem 0;
    border-radius: .5rem;
    border: var(--border);
    font-size: 1.6rem;
    color: grey;
    text-transform: none;
    padding: 1rem;
}

.contact .row form .btn{
    padding: 1rem 3rem;
}

