{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health Website</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
   <header class="header">
        <a href="#home" class="logo"><i class="fas fa-heartbeat"></i>&nbsp;mentalhealth</a>
        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#tips">Tips</a>
            <a href="#about">About Us</a>
            <a href="#team">Our Team</a>
            <a href="#contact">Contact</a>
        </nav>

       <div id="menu-btn" class="fas fa-bars"></div>
   </header> 

   <section class="home" id="home">
            <div class="image">
                <img src="{% static 'images/test.png' %}" alt="">
            </div>

            <div class="content">
                <h1>mental health app</h1>
                <p>Mental health is a person's emotional, psychological, and social well-being, and it affects how they think, feel, and act. It's important at every stage of life and helps people cope with stress, relate to others, and make healthy choices. Some early warning signs of mental health problems include mood swings, lack of care for personal appearance, increased use of alcohol or drugs, and thinking life is not worth living</p>
                <br>
                <br>
                <a href="#" class="btn">Test</a>
            </div>
   </section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section class="tips" id="tips">
    <h1 class="heading"><span>Tips</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="{% static 'images/buddhist-yoga-pose.png' %}" alt="">
            <h3>Yoga</h3>
            <p>While not a game, yoga can be a great stress reliever. There are many apps and online videos available for guided yoga sessions.</p>
            <a href="#" class="btn">learn more</a>
        </div>

        <div class="box">
            <img src="{% static 'images/healthy-heart.png' %}" alt="">
            <h3>Balence Diet</h3>
            <p>Eating a nutritious and balanced diet can help keep stress hormones in check and improve mood.</p>
            <a href="#" class="btn">learn more</a>
        </div>

        <div class="box">
            <i><img src="{% static 'images/journal.png' %}" alt="">
            </i>
            <h3>journal</h3>
            <p>Write down things you are grateful for each day. This practice can help shift your focus to the positive aspects of your life.</p>
            <a href="#" class="btn">learn more</a>
        </div>

        <div class="box">
            <i><img src="{% static 'images/gardening.png' %}" alt="">
            </i>
            <h3>gardening</h3>
            <p>Gardening can be a healthy and productive distraction that encourages physical activity and can help you unwind after a long day.</p>
            <a href="#" class="btn">learn more</a>
        </div>

        <div class="box">
            <i><img src="{% static 'images/puzzle.png' %}" alt="">
            </i>
            <h3>Puzzle Games</h3>
            <p>Sudoku, crossword puzzles, jigsaw puzzles, or logic puzzles can help shift focus away from stressors.</p>
            <a href="#" class="btn">learn more</a>
        </div>

        <div class="box">
            <i><img src="{% static 'images/music.png' %}" alt="">
            </i>
            <h3>Music Games</h3>
            <p>Playing musical instruments, rhythm games like Guitar Hero or Dance Dance Revolution, or simply listening to calming music can all be beneficial for stress relief.</p>
            <a href="#" class="btn">learn more</a>
        </div>

        <div class="box">
            <i><img src="{% static 'images/craft.png' %}" alt="">
            </i>
            <h3>Crafting</h3>
            <p> Activities like knitting, crocheting, or DIY crafts can be therapeutic and provide a sense of accomplishment.</p>
            <a href="#" class="btn">learn more</a>
        </div>

        <div class="box">
            <i><img src="{% static 'images/outdoor.png' %}" alt="">
            </i>
            <h3>Outdoor Activities</h3>
            <p>Going for a walk, bike ride, or doing outdoor sports like tennis or basketball can help reduce stress levels.</p>
            <a href="#" class="btn">learn more</a>
        </div>

    </div>
</section>

<br>
<br>
<br>
<br>
<br>

<section class="about" id="about">
    <h1 class="heading">About<span> Us</span></h1>

    <div class="row">
    <div class="image">
        <img src="{% static 'images/about_new.png' %}" alt="">   
    </div>

    <div class="content">
        <h3>we take care of your mental health</h3>
        <p>A mental health prediction project holds promise for aiding in the early detection and treatment of mental health issues. The project encompasses several key components, starting with comprehensive data collection involving demographics, medical history, lifestyle factors, and self-reported mental health symptoms. Machine learning models are then developed to analyze this data, predicting potential mental health disorders or risks. Ethical considerations are paramount in handling sensitive mental health data, ensuring privacy and adherence to ethical guidelines. 
        </p>
        <p>A user-friendly interface or app facilitates data submission and provides forecasts or recommendations to users. Early intervention strategies, such as stress management recommendations or expert referrals, are integrated into the system. Educational tools are included to raise awareness about mental health and combat stigma. Leveraging a Language and Linguistics Model (LLM) for results enhances the accuracy and relevance of the predictions. By promoting mental health awareness and facilitating early intervention, this project aims to reduce the burden of mental health disorders on individuals and society as a whole.</p>
        <br>
        <br>
        <br>
        <a href="#" class="btn"> learn more</a>
    </div>

</div>
</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<section class="team" id="team">
    <h1 class="heading">Our <span>Team</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="{% static 'images/dp.png' %}" alt="">
            <h3>Sanika Rozario</h3>
            <span>team memeber 1</span>
            <div class="share">
                <a href="#" class="fa fa-envelope"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'images/dp.png' %}" alt="">
            <h3>Sanika Patanker</h3>
            <span>team memeber 2</span>
            <div class="share">
                <a href="#" class="fa fa-envelope"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'images/dp.png' %}" alt="">
            <h3>Shruti Patil</h3>
            <span>team memeber 3</span>
            <div class="share">
                <a href="#" class="fa fa-envelope"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'images/dp.png' %}" alt="">
            <h3>Sania Almeida</h3>
            <span>team memeber 4</span>
            <div class="share">
                <a href="#" class="fa fa-envelope"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
    </div>
</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<section class="contact" id="contact">
    <h1 class="heading"><span>Contact</span> Us</h1>
    <div class="row">
        <div class="image">
            <img src="{% static 'images/contact_new.png' %}" alt="">
        </div>

        <form action="">
            <h3>Contact Us</h3>
            <input type="text" placeholder="your name" class="box">
            <input type="number" placeholder="your number" class="box">
            <input type="email" placeholder="your email" class="box">
            <input type="date" class="box">
            <input type="submit" value="send" class="btn">
        </form>
    </div>
</section>
</body>
</html>