{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health Website</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
   
    {% include "baseApp/navbar.html" %}

    {% include "baseApp/hero.html" %}

    {% include "baseApp/tips.html" %}
    
    {% include "baseApp/about.html" %}
    
    {% include "baseApp/team.html" %}

    {% include "baseApp/contact.html" %}





</body>
</html>